html, body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}

/* 日历插件 */
#calendar-box {
	display: inline-block;
	width: 350px;
	height: 98%;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

#calendar {
	width: 100%;
	height: 100%;
	border: 0px;
	border-radius: 5px;
}

/* 天气插件 */
#weather-box {
	display: inline-block;
	margin-left: 20px;
	margin-top: 10px;
	border-radius: 5px;
	height: 98px;
	width: auto;
	/*background-color: white;*/
	background: #485563; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29323c, #485563);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29323c, #485563);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#bottom-tools {
	margin-top: 10px;
	width: auto;
	height: calc(100% - 100px - 20px);
}

#msgs-box {
	display: inline-block;
	margin-left: 20px;
	float: left;
	width: 350px;
	height: calc(100% - 10px);
}

#sign-box {
	width: 100%;
	height: 200px;
	background-color: #80939B;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	background: #bdc3c7; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2c3e50, #bdc3c7);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#deal-box {
	margin-top: 10px;
	width: 100%;
	height: 200px;
	background-color: #999999;
	color: white;
	border-radius: 5px;
	/* fallback for old browsers */
	background: #485563;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, #29323c, #485563);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, #29323c, #485563);
}

#msgs-box div i {
	margin-left: 10px;
	display: inline-block;
	font-size: 30px;
	height: 80px;
	font-weight: bold;
	line-height: 80px;
}

#msgs-box div p {
	display: inline-block;
	width: 100%;
	margin-top: 0px;
	text-align: center;
	font-size: 60px;
}

#notice-box {
	display: inline-block;
	margin-left: 20px;
	padding: 10px;
	width: 330px;
	height: calc(100% - 37px);
	/*background-color: white;*/
	border-radius: 5px;
	color: black;
	/* fallback for old browsers */
	background: #abbaab; 
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, #ffffff, #abbaab);
}

#notice-box b {
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	line-height: 60px;
	display: block;
	color: black;
	/*border-bottom: 1px solid black;*/
}

::-webkit-scrollbar {
	width: 0px;
}